{% extends 'index.html' %}
{% load static %}
{% block title%}
<title>SuperShop | updateprofile </title>
{% endblock%}
{% block body %}
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Update Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!--================login_part Area =================-->
    <section class="login_part p-5 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    {% if buyer.pic %}
                    <img src="{{buyer.pic.url}}" height="440px"  alt="">
                    {% else %}
                    <img src="{% static 'img/noimage.png'%}" height="400px"  alt="">
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3 class="text-center">update profile</h3>
                           
                            {% if messages %}
                            {% for m in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{m}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              {% endfor %}      
                              {% endif %}
                            <form class="row contact_form" action="" method="post" novalidate="novalidate" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                            <div class="row">

                                
                            <div class="row">
                                
                                <div class="row form-group p_star mx-1 w-100">

                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="name" name="name"
                                            placeholder="FullName" value="{{ buyer.name }}">
                                    </div>
                                </div>

                                <div class="col-md-6 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email Address" value="{{ buyer.email}}">
                                </div>
                                
                                
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="phone" name="phone" value=""
                                        placeholder="phone" value="{{ buyer.phone }}">
                                </div>
                           
                            <div class="col-md-12 form-group p_star 1 w-100">
                                <textarea name="address" rows="2" class="form-control" id="address" name="address" placeholder="address here"{{ buyer.address}}></textarea>
                            </div>

                                <div class="col-md-6 form-group p_star">
                                    <input type="number" class="form-control" id="pin" name="pin"
                                        placeholder="pin" value="{{ buyer.pin }}">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="city" name="city"
                                        placeholder="city" value="{{ buyer.city }}">
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="sate" name="state"
                                        placeholder="state" value="{{ buyer.state }}">
                                </div>
                                
                                
                                 
                                <div class="col-md-6 form-group p_star">
                                    <input type="file" class="form-control"  name="pic" id="pic" value=""
                                       >
                                </div>
                            </div>
                           
                        </div>

                                <div class="col-md-12 form-group">
                                   
                                    <button type="submit" value="submit" class="btn_3">
                                        update profile
                                    </button>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
    {% endif %}
{% endblock %}